<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div
                    class="d-flex justify-content-between align-items-center mb-5"
                  >
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">
                      {{ (cart$ | async)?.length }} items
                    </h6>
                  </div>
                  <div *ngIf="(cart$ | async)?.length; else noItems">
                    <div *ngFor="let item of cart$ | async">
                      <app-cart-item [item]="item"></app-cart-item>
                    </div>
                  </div>
                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a href="#!" class="text-body"
                        ><i class="fa fa-arrow-left mr-2" routerLink="/"></i
                        >Back to shop</a
                      >
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">
                      ITEMS {{ (cart$ | async)?.length }}
                    </h5>
                    <h5>€ {{ cartTotal | async }}</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select
                      class="form-control"
                      [(ngModel)]="shipping"
                      (ngModelChange)="shippingChange($event)"
                    >
                      <option value="0"></option>
                      <option value="5">Standard-Delivery- €5.00</option>
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Examplea2"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Examplea2"
                        >Enter your code</label
                      >
                    </div>
                  </div>

                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>€ {{ totalPlusShipping | async }}</h5>
                  </div>

                  <button
                    type="button"
                    class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark"
                  >
                    Checkout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #noItems>
  <p class="badge badge-light text-muted">No items in your cart</p>
</ng-template>
