<div class="container col-3 border border-dark p-5 rounded">
  <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
    <div class="form-group">
      <label>Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        formControlName="Email"
      />
      <p
        *ngIf="
          loginForm.get('Email')?.errors && loginForm.get('Email')?.touched
        "
        class="text-danger"
      >
        Email is required
      </p>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="Password"
      />
      <p
        *ngIf="
          loginForm.get('Password')?.errors &&
          loginForm.get('Password')?.touched
        "
        class="text-danger"
      >
        Password is required
      </p>
    </div>
    <button
      type="submit"
      class="btn btn-primary w-100"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
</div>
